/*无限轮播动画*/
body{
    display: flex;
    height: 100vh;
    background: #e3e3e3;
    /*弹性盒内项目的水平和垂直居中*/
    justify-content: center;
    align-items: center;

}
/*轮播条*/
.slider{
    position: relative;
    width: 960px;
    height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,.125);
    margin: auto;
    overflow: hidden;
}
/*设置轮播条两侧的光晕*/
.slider:before,
.slider:after
{
    content: "";
    position: absolute;
    height: 100px;
    width: 200px;
    background: linear-gradient(to right,#fff 0%,rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider.before{
    left: 0;
    top: 0;
}
.slider:after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/*设置播放轮播图时图片运动的轨道*/
.slider .slider-track{
    display: flex;
    /*宽度通过计算得出*/
    width: calc(250px * 14);
    /*设置轮播的动画*/
    animation: scroll 40s linear infinite;
}
/*设置每个图片的容器*/
.slider .slide{
    width: 250px;
    height: 100px;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 7));
    }
}